# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# 환경 변수 파일
.env
.env.local
.env.development
.env.production


# TypeScript 관련 파일
*.js.map
*.d.ts

# Vite 관련 빌드 파일 및 캐시
/.vite
node_modules/.vite
/dist